/*  Variables are supported only by mozilla */
:root {
  --main-font-family: Verdana, Arial, sans-serif;
  --main-font-size: 14px;
  --main-font-weight: normal; 
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal; 
}

html, body > *{
    height: 100%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;    
}

.page {
    margin-left:auto;
    margin-right:auto;
    width:1200px;	
}

.content {
	margin-top: 10px;
	background-color: #FFFFCC;
    border-radius: 10px;
    border: 2px solid #8AC007;
    padding: 10px; 
    width: 100%;
    min-height:500px;
}

.footer {
    margin-top: 10px;
    background-color: #FFFFCC;
    border-radius: 10px;
    border: 2px solid #8AC007;
    padding: 0px; 
    width: 100%;
    height: 60px;
}

.footer > * {
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

table, th, td {
   padding: 5px;
   margin: 5px;  
}

td {
    text-align: right;
    vertical-align: middle;
}

#dictionaryTable {
	border: 1px solid black !important; 
}

label {
	font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.navigation_div_wrap {
	background-color: #FFFFCC;
	border-radius: 10px;
    border: 2px solid #8AC007;
    padding: 0px; 
    width: 100%;
    height: 60px; 
}

.navigation_div {
	float: left;
	height: 100%;
/* 	background-color:yellow; */
}

.navigation_ul {
    list-style-type: none;
    margin: 0;
}

.navigation_li {
    display: inline;
    padding-right: 100px;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
    line-height: 60px;
}

.language_div {
	padding: 14px;
	height: 100%;
	width: 300px;
	float: right;
	/* background-color: red; */
}

.language_select {	
	float: right;
	border-radius: 5px;
    border: 1px solid #8AC007;
    padding: 5px; 
    width: 100%;
    height:30px;
    line-height:30px;
    background:#f4f4f4;
}

.form {
	display: block;
}

.question_table {
	width: 100%;
}

input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	border-radius: 5px;
    border: 1px solid #8AC007;
    padding: 0px 5px 0px 5px; 
    min-width: 60px;
    height:30px;
    line-height:30px;
    background:#f4f4f4;
    text-align: right;
    font-size: 14px;
}

input[disabled] {
	color: gray !important;
}

error {
	background:#faa;
}

.login_button {	
	float: right;
	background-color: #8AC007; 
    text-align: center;
    height: 30px;
    vertical-align: middle;
    font-size: 14px;   
    font-weight: bold;   
}

.question_label {
	width: 550px;
    display: block;
    
    font-size: 34px;   
    font-weight: bold; 
}

.answer_button {
    width: 550px;
    display: inline-block;
    background-color: #FFFF99; 
    text-align: center;
    height: 150px;
    vertical-align: middle;
    font-size: 34px;   
    font-weight: normal; 
}

.command_button {
	width: 10px;
    display: inline-block;
    background-color: #8AC007; 
    text-align: center;
    height: 30px;
    vertical-align: middle;
    font-size: 14px;   
    font-weight: bold;   
}

.login_button > p {
	line-height:30px;
	vertical-align: middle;
	font-size: 14px;   
    font-weight: bold;
}

a:hover {
    color: green;
}

.test_table {
}

input[type=checkbox] {
	
	-ms-transform: scale(1); /* IE */
	-moz-transform: scale(1); /* FF */
	-webkit-transform: scale(1); /* Safari and Chrome */
	-o-transform: scale(1); /* Opera */
    padding: 0px;
    margin: 0px;
}

.error_message {
	color: red;
	float: left;
}

.ui-datatable tr.ui-state-highlight {
    background: #f4f4f4 !important;
    border-color: #8AC007 !important;
}

.ui-state-default {
	background: transparent !important;
	border-color: green;
}

.ui-widget-content {
	background: transparent !important;
	border-color: green;
}

.ui-datatable table {
	width: 99% !important;
	background: #FFFF99 !important;
}

.ui-datatable thead th {
	font-weight: bold;
	border-bottom-width: 2px;
	color:black;
}
